{
    "Parameters": { 
      "API_KEY": "",
      "API_URL": "",     
      "LINE_BOT_CHANNEL_SECRET": "365d26ab87e7d147aeccc1a3768ed3d7",
      "LINE_BOT_CHANNEL_TOKEN": "dduBhfQDcuyZHghJA8/ho15PnYf2yZKEy5tBZ7CoL29mFrkvkvvuvNYmQYLha/iDmAwHtLHlCvdzg3pYauD3mQbZbvzEjqHfzrj+BC50Won2ZO4eLGpbHYfMA1ZG9nMYjzYENgcs4oIb7b+u/y4xDQdB04t89/1O/w1cDnyilFU="
    }
}