{
    "Parameters": { 
      "API_KEY": "",
      "API_URL": "",     
      "LINE_BOT_CHANNEL_SECRET": "",
      "LINE_BOT_CHANNEL_TOKEN": "",
      "SLACK_SIGNING_SECRET": "",
      "SLACK_OAUTH_TOKEN":"",
      "DYNAMO_ENDPOINT":"http://dynamodb:8000"
    }
}